.container {
	text-align: center;
}

.face {
	max-width: 250px;
}

.icon {
	max-width: 60px;
	padding: 0px 5px;
}

.icon:hover {
	opacity: 0.6;
}

.about {
	margin-top: 10%;
}

.info {
	margin-left: auto;
	margin: 0 auto;
	float: none;
}

body {
	background-color: #A2DED0;
}

a {
	text-decoration: none;
}

h2 {
	font-family: 'Lora', serif;
}

p {
	font-family: 'Pontano Sans', sans-serif;
}