.container {
  text-align: center;
}

.face {
  max-width: 200px;
  border-radius: 50%;
}

.icon {
  max-width: 40px;
  padding: 0px 5px;
}

.icon:hover {
  opacity: 0.6;
}

.about {
  margin-top: 10%;
}

.info {
  margin-left: auto;
  margin: 0 auto;
  float: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Lora', serif;
}

p {
  font-family: 'Pontano Sans', sans-serif;
}
